*{
    color: var(--text-primary);
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) transparent;
}
body{
    margin: 0;
    padding: 0;
}
.app{
    background-color: var(--bg-primary);
    display: flex;
}

/* For Chrome, Safari, Edge, and Opera */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-thumb-active);
}